* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: whitesmoke; */
}

body {
    overflow-x: hidden;
}


/* NAVBAR */

.navbar {
    background-color: #007df6;
    position: fixed;
    top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    z-index: 1;
}

.navbar ul {
    padding-top: 0.62rem;
    /* 10px */
    padding-right: 1.25rem;
    /* 20px */
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

#logo {
    font-family: 'Potta One', cursive;
    font-size: 1.8rem;
    /* 30px */
    padding-left: 1em;
    /* 30px */
    padding-top: 0.16em;
    /* 4.8px */
    padding-bottom: 0.16em;
    color: #fff;
}

.navbar ul li a {
    text-decoration: none;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    /* 20px */
    margin: 0.9em;
    /* 18px */
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline solid white;
    cursor: pointer;
}

.btnDropdown {
    background-color: #fff;
    color: #007df6;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    /* 18px */
    border: 1px solid #0099ff;
    border-radius: 20px;
    padding-bottom: 0.28em;
    /* 5px */
    padding-right: 0.4em;
    /* 8px */
    padding-left: 0.4em;
    /* 8px */
    margin-right: 1em;
    font-weight: bold;
}

.btnDropdown:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.btnDropdown:focus {
    outline: none;
}

#down_arrow_head {
    font-size: 1rem;
    /* 16px */
}


/* INTRO SECTION */

.introSection {
    width: 100vw;
    height: 85vh;
    background-color: #007df6;
    margin-top: 3.125rem;
    /* 50px */
}

.introSectionTop {
    background-color: #007df6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linesAndSearch {
    margin-top: 12.5rem;
    /* 200px */
    margin-left: 3.75rem;
    /* 60px */
}

#intro_line {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    /* 40px */
    color: #fff;
}

#intro_line_next {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    /* 25px */
    margin-top: 0.4em;
    /* 10px */
    color: #fff;
}

.introSearch {
    width: 70%;
    margin-top: 3.1rem;
    /* 50px */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input_location {
    width: 82%;
    padding: 0.6em 0em 0.6em 0.9em;
    /* 10px 15px 10px 0px */
    font-size: 1.12rem;
    /* 18px */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #007df6;
}

#input_location:focus {
    outline: none;
}

#btn_search {
    padding: 0.3em 0.6em;
    /* 5px 10px */
    background-color: #288b22;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #007df6;
    color: #fff;
    font-size: 1.12rem;
    /* 18px */
    font-weight: bold;
}

#btn_search:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    border: 1px solid #fff;
}


/* SVG */

#intro_right_svg {
    margin-right: -9.4rem;
    /* -150px */
}

#intro_bottom_svg {
    width: 100vw;
    margin-top: -5rem;
    /* -80px */
}


/* SIGNUP */


/* .bodyContainer {
    display: flex;
    flex-direction: row;
    margin: 3.2rem auto;
    width: 90vw;
    height: 85vh;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
} */

.lottie {
    width: 45%;
}

.signUpContainer {
    width: 55%;
}

.header {
    font-family: 'Potta One', cursive;
    font-size: 1.6rem;
    /* 25px */
    color: #007df6;
    margin-left: 20px;
    margin-top: 10px;
}

.signUpLine {
    text-align: center;
    margin-top: 50px;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #0575e6;
}

.signUpForm {
    margin: 50px 50px 0px 50px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEmail {
    border: none;
    border-bottom: 2px solid #000080;
    margin-bottom: 35px;
    width: 80%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputEmail:focus {
    outline: none;
}

.inputPassword {
    border: none;
    border-bottom: 2px solid #000080;
    margin-bottom: 30px;
    width: 80%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputPassword:focus {
    outline: none;
}

::placeholder {
    color: #ababab;
}

.btnSignUp {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    color: #fff;
    background-color: #007df6;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.btnSignUp:focus {
    outline: none;
}

.loginLink {
    text-align: center;
}

.loginLink a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #007df6;
}

.loginLink a:hover {
    text-decoration: underline;
}

hr {
    width: 45%;
    margin-top: 50px;
    display: inline-block;
}

#or {
    display: inline-block;
    margin: 0px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ababab;
    font-weight: bold;
}

.googleSignUp {
    margin: 50px auto;
    width: 100%;
}

.googleSignUp a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.btn {
    background-color: #db4437;
    padding: 10px 10px;
    display: block;
    width: 30%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.googleSignUp a:hover {
    text-decoration: underline;
}


/* SHOW AND SEARCH */

.showAndSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    background-color: #007df6;
    margin-top: 3.2rem;
    position: fixed;
    z-index: 1;
}

.showingLine {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    /* 20px */
    color: #fff;
    padding: 0.5em 0em 0.5em 1.5em;
}

.searchLocation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0px;
    margin-right: 3rem;
    /* 50px */
    width: 25vw;
}

.inputLocation {
    width: 80%;
    border: 2px solid #000;
    padding: 5px 10px;
    font-size: 1rem;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.inputLocation:focus {
    outline: none;
}

.btnSearch {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    /* 16px */
    text-align: center;
    background-color: green;
    color: #fff;
    padding: 5px 10px;
}

.btnSearch:hover {
    cursor: pointer;
}

.btnSearch:focus {
    outline: none;
}


/* BODY CONTAINER */

.bodyContainer {
    display: flex;
    flex-direction: row;
}


/* FILTER CONTAINER */

.filterContainer {
    border-right: 1px solid #c4c4c4;
    position: fixed;
    width: 30vw;
    margin-top: 120px;
}

.filterContainerHeader {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.9rem;
    /* 30px */
    padding: 0.7em 0.7em;
    font-weight: bold;
    color: #000;
}

.filterForm {
    padding: 40px 25px;
}

.filterCategory {
    margin-bottom: 50px;
}

.filterCategoryHeader {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    /* 20px */
    margin-bottom: 10px;
    font-weight: bold;
}

.filterCategoryChoice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

fieldset {
    border: none;
}


/* TOGGLE SWITCH */

.toggleSwitch {
    margin-top: 20px;
    margin-right: 130px;
}

.toggleSwitch input {
    display: none;
}

.toggleSwitch label {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    background-color: #ababab;
    border-radius: 15px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.toggleSwitch label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 2px solid #c4c4c4;
    border-radius: 50%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.toggleSwitch input:checked+label {
    background-color: #e7008a;
    transition: all 200ms ease-in-out;
}

.toggleSwitch input:checked+label:after {
    background-color: white;
    left: calc(45px - 20px);
    transition: all 200ms ease-in-out;
    border: 2px solid #e7008a;
}

.toggleText {
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 60px;
    width: 100px;
}

#btn_apply_filters {
    width: 80%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5px 0px;
    background-color: green;
    color: #fff;
    margin-left: 30px;
    border: none;
}

#btn_apply_filters:focus {
    outline: none;
}

#btn_apply_filters:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}


/* BODYCONTAINER */

.hostelContainer {
    display: flex;
    flex-direction: row;
}


/* PG CONTAINER */

.pgContainer {
    width: 70vw;
    margin-left: 460px;
    margin-top: 120px;
}

.pgFlex {
    margin: auto;
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;
    /* 50px */
    flex: 2;
}

.pgCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px #c4c4c4;
    margin: 0.6rem;
    /* 10px */
}

.cardPgDetails {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    /* 10px */
}

#card_pg_name {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 30px */
    font-weight: bold;
}

#card_pg_address {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    /* 18px */
    margin-top: 0.6em;
    /* 10px */
}

#card_pg_gender {
    background-color: #c4c4c4;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    /* 18px */
    margin-top: 1.7em;
    /* 30px */
    width: 25%;
    text-align: center;
    padding-top: 0.3em;
    /* 5px */
    padding-bottom: 0.3em;
    /* 5px */
    border-radius: 1.1em;
    /* 20px */
}

.cardBtnGroup {
    display: inline-block;
}

.cardBtnClass {
    margin: 1.7em 1.1em 0.6em 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    /* 18px */
    text-align: center;
    padding: 0.3em 0.3em;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    /* 5px */
}

.cardBtnClass:hover {
    cursor: pointer;
}

#card_btn_view {
    background-color: #007df6;
}

#card_btn_book {
    background-color: green;
}