<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG APP</title>
</head>

<body>
    <form action="/api/add/hostels" method="POST">
        <input type="text" name="cityName" placeholder="e.g. Ghy">
        <input type="text" name="hostelName" placeholder="e.g. Bhargab PG">
        <input type="text" name="pincode" placeholder="e.g. 781352">
        <input type="text" name="seaterType" placeholder="e.g. 1">
        <input type="text" name="price" placeholder="e.g. 1000">
        <button>Submit</button>
    </form>
</body>

</html>