<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PG APP</title>
</head>

<body>
    <div class="container">
        <h3>Get Hostel By Filter</h3>
        <form method="POST" action="/api/search/hostels">
            <label>City Name</label>

            <input name="cityName" list="cityList" id="city" type="text" class="form-control" placeholder="Enter city or locality...">
            <datalist id="cityList">
                <option value="guwahati"></option>
                <option value="dibrugarh"></option>
            </datalist>

            <!-- <div class="form-group my-10">
                <select class="form-control" name="cityName">
                <option value="Guwahati">Guwahati</option>
                <option value="Dibrugarh">Dibrugarh</option>
            </select>
            </div> -->

            <div class="form-group my-10">
                <select class="form-control" name="hostelType">
                <option value="Boys">Boys</option>
                <option value="Girls">Girls</option>
            </select>
            </div>

            <div class="form-group my-10">
                <select class="form-control" name="seaterType">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            </div>

            <div class="form-group my-10">
                <select class="form-control" name="price">
                <option value="1000">1000</option>
                <option value="1500">1500</option>
                <option value="2000">2000</option>
            </select>
            </div>

            <button class="btn btn-info">Search</button>

        </form>
    </div>
</body>

</html>